{% extends "base.html" %}
{% block body %}
    {% for obj in object_list %}
        <div class="card body-background">
            <div class="card-header">
                Featured
            </div>

            <div class="card-body body-background">
                <h5 class="card-title"><a href="{{ obj.url }}">{{ obj.title }}</a></h5>
                <p class="card-text">{{ obj.description }}</p>
                <p>{{ obj.city.name }} | {{ obj.language }} |
                    <smal>{{ obj.timestamp }}</smal>
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% empty %}
        <h3>Not found :(</h3>
    {% endfor %}
    <form method="get" action="">

        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}